(
    palette: Light((
        name: "Catpuccin-Latte-Lavender",
        blue: (
            red: 0.11764706,
            green: 0.40000000,
            blue: 0.96078431,
            alpha: 1.0,
        ),
        red: (
            red: 0.82352941,
            green: 0.05882353,
            blue: 0.22352941,
            alpha: 1.0,
        ),
        green: (
            red: 0.25098039,
            green: 0.62745098,
            blue: 0.16862745,
            alpha: 1.0,
        ),
        yellow: (
            red: 0.87450980,
            green: 0.55686275,
            blue: 0.11372549,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.90196078,
            green: 0.91372549,
            blue: 0.93725490,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.93725490,
            green: 0.94509804,
            blue: 0.96078431,
            alpha: 1.0,
        ),
        gray_3: (
            red: 0.80000000,
            green: 0.81568627,
            blue: 0.85490196,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.86274510,
            green: 0.87843137,
            blue: 0.90980392,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.90196078,
            green: 0.91372549,
            blue: 0.93725490,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.93725490,
            green: 0.94509804,
            blue: 0.96078431,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.80000000,
            green: 0.81568627,
            blue: 0.85490196,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.73725490,
            green: 0.75294118,
            blue: 0.80000000,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.67450980,
            green: 0.69019608,
            blue: 0.74509804,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.61176471,
            green: 0.62745098,
            blue: 0.69019608,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.54901961,
            green: 0.56078431,
            blue: 0.63137255,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.48627451,
            green: 0.49803922,
            blue: 0.57647059,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.42352941,
            green: 0.43529412,
            blue: 0.52156863,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.36078431,
            green: 0.37254902,
            blue: 0.46666667,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.25098039,
            green: 0.62745098,
            blue: 0.16862745,
            alpha: 1.0,
        ),
        bright_red: (
            red: 0.82352941,
            green: 0.05882353,
            blue: 0.22352941,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.99607843,
            green: 0.39215686,
            blue: 0.04313725,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.48627451,
            green: 0.49803922,
            blue: 0.57647059,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.99607843,
            green: 0.39215686,
            blue: 0.04313725,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.87450980,
            green: 0.55686275,
            blue: 0.11372549,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.11764706,
            green: 0.40000000,
            blue: 0.96078431,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.44705882,
            green: 0.52941176,
            blue: 0.99215686,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.91764706,
            green: 0.46274510,
            blue: 0.79607843,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.53333333,
            green: 0.22352941,
            blue: 0.93725490,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.11764706,
            green: 0.40000000,
            blue: 0.96078431,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.82352941,
            green: 0.05882353,
            blue: 0.22352941,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.25098039,
            green: 0.62745098,
            blue: 0.16862745,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.48627451,
            green: 0.49803922,
            blue: 0.57647059,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.99607843,
            green: 0.39215686,
            blue: 0.04313725,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.87450980,
            green: 0.55686275,
            blue: 0.11372549,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.44705882,
            green: 0.52941176,
            blue: 0.99215686,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.91764706,
            green: 0.46274510,
            blue: 0.79607843,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.53333333,
            green: 0.22352941,
            blue: 0.93725490,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    bg_color: Some((
        red: 0.93725490,
        green: 0.94509804,
        blue: 0.96078431,
        alpha: 1,
    )),
    text_tint: Some((
        red: 0.29803922,
        green: 0.30980392,
        blue: 0.41176471,
        alpha: 1.0,
    )),
    accent: Some((
        red: 0.44705882,
        green: 0.52941176,
        blue: 0.99215686,
        alpha: 1.0,
    )),
    success: Some((
        red: 0.25098039,
        green: 0.62745098,
        blue: 0.16862745,
        alpha: 1.0,
    )),
    warning: Some((
        red: 0.87450980,
        green: 0.55686275,
        blue: 0.11372549,
        alpha: 1.0,
    )),
    destructive: Some((
        red: 0.82352941,
        green: 0.05882353,
        blue: 0.22352941,
        alpha: 1.0,
    )),
    window_hint: Some((
        red: 0.44705882,
        green: 0.52941176,
        blue: 0.99215686,
        alpha: 1.0,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
)
