(
        name: "Catppuccin Mocha",
        foreground: "#CDD6F4",
        cursor: "#F5E0DC",
        bright_foreground: "#CDD6F4",
        dim_foreground: "#6C7086",
        normal: (
            black: "#45475A",
            red: "#F38BA8",
            green: "#A6E3A1",
            yellow: "#F9E2AF",
            blue: "#89B4FA",
            magenta: "#F5C2E7",
            cyan: "#94E2D5",
            white: "#BAC2DE",
        ),
        bright: (
            black: "#585B70",
            red: "#F38BA8",
            green: "#A6E3A1",
            yellow: "#F9E2AF",
            blue: "#89B4FA",
            magenta: "#F5C2E7",
            cyan: "#94E2D5",
            white: "#A6ADC8",
        ),
        dim: (
            black: "#45475A",
            red: "#F38BA8",
            green: "#A6E3A1",
            yellow: "#F9E2AF",
            blue: "#89B4FA",
            magenta: "#F5C2E7",
            cyan: "#94E2D5",
            white: "#BAC2DE",
        ),
    )