(
        name: "Catppuccin Frappe",
        foreground: "#C6D0F5",
        cursor: "#F2D5CF",
        bright_foreground: "#C6D0F5",
        dim_foreground: "#737994",
        normal: (
            black: "#51576D",
            red: "#E78284",
            green: "#A6D189",
            yellow: "#E5C890",
            blue: "#8CAAEE",
            magenta: "#F4B8E4",
            cyan: "#81C8BE",
            white: "#B5BFE2",
        ),
        bright: (
            black: "#626880",
            red: "#E78284",
            green: "#A6D189",
            yellow: "#E5C890",
            blue: "#8CAAEE",
            magenta: "#F4B8E4",
            cyan: "#81C8BE",
            white: "#A5ADCE",
        ),
        dim: (
            black: "#51576D",
            red: "#E78284",
            green: "#A6D189",
            yellow: "#E5C890",
            blue: "#8CAAEE",
            magenta: "#F4B8E4",
            cyan: "#81C8BE",
            white: "#B5BFE2",
        ),
    )