(
        name: "Catppuccin Latte",
        foreground: "#4C4F69",
        cursor: "#DC8A78",
        bright_foreground: "#4C4F69",
        dim_foreground: "#9CA0B0",
        normal: (
            black: "#5C5F77",
            red: "#D20F39",
            green: "#40A02B",
            yellow: "#DF8E1D",
            blue: "#1E66F5",
            magenta: "#EA76CB",
            cyan: "#179299",
            white: "#ACB0BE",
        ),
        bright: (
            black: "#6C6F85",
            red: "#D20F39",
            green: "#40A02B",
            yellow: "#DF8E1D",
            blue: "#1E66F5",
            magenta: "#EA76CB",
            cyan: "#179299",
            white: "#BCC0CC",
        ),
        dim: (
            black: "#5C5F77",
            red: "#D20F39",
            green: "#40A02B",
            yellow: "#DF8E1D",
            blue: "#1E66F5",
            magenta: "#EA76CB",
            cyan: "#179299",
            white: "#ACB0BE",
        ),
    )