(
    palette: Dark((
        name: "Catppuccin-Macchiato-Rosewater",
        blue: (
            red: 0.54117647,
            green: 0.67843137,
            blue: 0.95686275,
            alpha: 1.0,
        ),
        red: (
            red: 0.92941176,
            green: 0.52941176,
            blue: 0.58823529,
            alpha: 1.0,
        ),
        green: (
            red: 0.65098039,
            green: 0.85490196,
            blue: 0.58431373,
            alpha: 1.0,
        ),
        yellow: (
            red: 0.93333333,
            green: 0.83137255,
            blue: 0.62352941,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.11764706,
            green: 0.12549020,
            blue: 0.18823529,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.14117647,
            green: 0.15294118,
            blue: 0.22745098,
            alpha: 1.0,
        ),
        gray_3: (
            red: 0.21176471,
            green: 0.22745098,
            blue: 0.30980392,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.09411765,
            green: 0.09803922,
            blue: 0.14901961,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.11764706,
            green: 0.12549020,
            blue: 0.18823529,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.14117647,
            green: 0.15294118,
            blue: 0.22745098,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.21176471,
            green: 0.22745098,
            blue: 0.30980392,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.28627451,
            green: 0.30196078,
            blue: 0.39215686,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.35686275,
            green: 0.37647059,
            blue: 0.47058824,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.43137255,
            green: 0.45098039,
            blue: 0.55294118,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.50196078,
            green: 0.52941176,
            blue: 0.63529412,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.57647059,
            green: 0.60392157,
            blue: 0.71764706,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.64705882,
            green: 0.67843137,
            blue: 0.79607843,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.72156863,
            green: 0.75294118,
            blue: 0.87843137,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.65098039,
            green: 0.85490196,
            blue: 0.58431373,
            alpha: 1.0,
        ),
        bright_red: (
            red: 0.92941176,
            green: 0.52941176,
            blue: 0.58823529,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.96078431,
            green: 0.66274510,
            blue: 0.49803922,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.57647059,
            green: 0.60392157,
            blue: 0.71764706,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.96078431,
            green: 0.66274510,
            blue: 0.49803922,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.93333333,
            green: 0.83137255,
            blue: 0.62352941,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.54117647,
            green: 0.67843137,
            blue: 0.95686275,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.71764706,
            green: 0.74117647,
            blue: 0.97254902,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.96078431,
            green: 0.74117647,
            blue: 0.90196078,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.77647059,
            green: 0.62745098,
            blue: 0.96470588,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.54117647,
            green: 0.67843137,
            blue: 0.95686275,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.92941176,
            green: 0.52941176,
            blue: 0.58823529,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.65098039,
            green: 0.85490196,
            blue: 0.58431373,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.57647059,
            green: 0.60392157,
            blue: 0.71764706,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.96078431,
            green: 0.66274510,
            blue: 0.49803922,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.93333333,
            green: 0.83137255,
            blue: 0.62352941,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.71764706,
            green: 0.74117647,
            blue: 0.97254902,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.96078431,
            green: 0.74117647,
            blue: 0.90196078,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.77647059,
            green: 0.62745098,
            blue: 0.96470588,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    bg_color: Some((
        red: 0.14117647,
        green: 0.15294118,
        blue: 0.22745098,
        alpha: 1.00000000,
    )),
    text_tint: Some((
        red: 0.79215686,
        green: 0.82745098,
        blue: 0.96078431,
    )),
    accent: Some((
        red: 0.95686275,
        green: 0.85882353,
        blue: 0.83921569,
    )),
    success: Some((
        red: 0.65098039,
        green: 0.85490196,
        blue: 0.58431373,
    )),
    warning: Some((
        red: 0.93333333,
        green: 0.83137255,
        blue: 0.62352941,
    )),
    destructive: Some((
        red: 0.92941176,
        green: 0.52941176,
        blue: 0.58823529,
    )),
    window_hint: Some((
        red: 0.95686275,
        green: 0.85882353,
        blue: 0.83921569,
    )),
    neutral_tint: Some((
        red: 0.50196078,
        green: 0.52941176,
        blue: 0.63529412,
    )),
    primary_container_bg: Some((
        red: 0.21176471,
        green: 0.22745098,
        blue: 0.30980392,
        alpha: 1.00000000,
    )),
    secondary_container_bg: Some((
        red: 0.28627451,
        green: 0.30196078,
        blue: 0.39215686,
        alpha: 1.00000000,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
)
