(
    palette: Dark((
        name: "Catppuccin-Mocha-Rosewater",
        blue: (
            red: 0.53725490,
            green: 0.70588235,
            blue: 0.98039216,
            alpha: 1.0,
        ),
        red: (
            red: 0.95294118,
            green: 0.54509804,
            blue: 0.65882353,
            alpha: 1.0,
        ),
        green: (
            red: 0.65098039,
            green: 0.89019608,
            blue: 0.63137255,
            alpha: 1.0,
        ),
        yellow: (
            red: 0.97647059,
            green: 0.88627451,
            blue: 0.68627451,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.09411765,
            green: 0.09411765,
            blue: 0.14509804,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.11764706,
            green: 0.11764706,
            blue: 0.18039216,
            alpha: 1.0,
        ),
        gray_3: (
            red: 0.19215686,
            green: 0.19607843,
            blue: 0.26666667,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.06666667,
            green: 0.06666667,
            blue: 0.10588235,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.09411765,
            green: 0.09411765,
            blue: 0.14509804,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.11764706,
            green: 0.11764706,
            blue: 0.18039216,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.19215686,
            green: 0.19607843,
            blue: 0.26666667,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.27058824,
            green: 0.27843137,
            blue: 0.35294118,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.34509804,
            green: 0.35686275,
            blue: 0.43921569,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.42352941,
            green: 0.43921569,
            blue: 0.52549020,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.49803922,
            green: 0.51764706,
            blue: 0.61176471,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.57647059,
            green: 0.60000000,
            blue: 0.69803922,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.65098039,
            green: 0.67843137,
            blue: 0.78431373,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.72941176,
            green: 0.76078431,
            blue: 0.87058824,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.65098039,
            green: 0.89019608,
            blue: 0.63137255,
            alpha: 1.0,
        ),
        bright_red: (
            red: 0.95294118,
            green: 0.54509804,
            blue: 0.65882353,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.98039216,
            green: 0.70196078,
            blue: 0.52941176,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.57647059,
            green: 0.60000000,
            blue: 0.69803922,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.98039216,
            green: 0.70196078,
            blue: 0.52941176,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.97647059,
            green: 0.88627451,
            blue: 0.68627451,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.53725490,
            green: 0.70588235,
            blue: 0.98039216,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.70588235,
            green: 0.74509804,
            blue: 0.99607843,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.96078431,
            green: 0.76078431,
            blue: 0.90588235,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.79607843,
            green: 0.65098039,
            blue: 0.96862745,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.53725490,
            green: 0.70588235,
            blue: 0.98039216,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.95294118,
            green: 0.54509804,
            blue: 0.65882353,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.65098039,
            green: 0.89019608,
            blue: 0.63137255,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.57647059,
            green: 0.60000000,
            blue: 0.69803922,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.98039216,
            green: 0.70196078,
            blue: 0.52941176,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.97647059,
            green: 0.88627451,
            blue: 0.68627451,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.70588235,
            green: 0.74509804,
            blue: 0.99607843,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.96078431,
            green: 0.76078431,
            blue: 0.90588235,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.79607843,
            green: 0.65098039,
            blue: 0.96862745,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    bg_color: Some((
        red: 0.11764706,
        green: 0.11764706,
        blue: 0.18039216,
        alpha: 1.00000000,
    )),
    text_tint: Some((
        red: 0.80392157,
        green: 0.83921569,
        blue: 0.95686275,
    )),
    accent: Some((
        red: 0.96078431,
        green: 0.87843137,
        blue: 0.86274510,
    )),
    success: Some((
        red: 0.65098039,
        green: 0.89019608,
        blue: 0.63137255,
    )),
    warning: Some((
        red: 0.97647059,
        green: 0.88627451,
        blue: 0.68627451,
    )),
    destructive: Some((
        red: 0.95294118,
        green: 0.54509804,
        blue: 0.65882353,
    )),
    window_hint: Some((
        red: 0.96078431,
        green: 0.87843137,
        blue: 0.86274510,
    )),
    neutral_tint: Some((
        red: 0.49803922,
        green: 0.51764706,
        blue: 0.61176471,
    )),
    primary_container_bg: Some((
        red: 0.19215686,
        green: 0.19607843,
        blue: 0.26666667,
        alpha: 1.00000000,
    )),
    secondary_container_bg: Some((
        red: 0.27058824,
        green: 0.27843137,
        blue: 0.35294118,
        alpha: 1.00000000,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
)
